{% extends "base/base.html" %}
{% load static %}



{% block title %}
        Change Password
{% endblock title %}

{% block custom_css %}
    <style>
        .page-content {
            margin-top: 80px; /* Adjust this value to control the spacing between header and content */
            padding: 20px; /* Optional: Adjust this value to add padding around the content */
        }
    </style>
{% endblock custom_css %}


{% block content %}

    <main class="main_wrapper">
        <div class="page-content" style="margin-top: 130px;">

            <div class="container mt-5">

                <div class="row my-3">
                <div class="col-sm-6 offset-sm-3 ">
                
            
                    <form id="change_pass" method="post" novalidate class="shadow p-5 my-4 text-center">
                        {% csrf_token %}
                        <h3 class='mb-5'>Change Password</h3>
                        
                    
                        {% for field in form %}
                            <div class="form-group my-3 text-left">
                                <label>{{field.label}}</label>
                                {{field}}
                            </div>
                        {% endfor %}
                    
                        <input type="submit" class="btn btn-primary my-2" value="Submit">
                
                        
                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <p class="alert alert-danger my-3">{{error}}</p>
                            {% endfor %}
                            {% endif %}
                
                    </form>
                
            
                </div>
                </div>
            </div>
        </div>

    </main> 


{% endblock content %}

{% block custom_script %}

    $(document).on('submit', '#change_pass', function(e) {
        e.preventDefault();

        $.ajax({

            type: 'POST',
            url: "{% url 'change_pass_request' %}",
            data: {
                new_password1: $('#new_password1').val(),
                new_password2: $('#new_password2').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },

            success: function(response, textStatus, data) {

                if (textStatus == 'success') {

                    if (response.code == 200) {

                        /* AUTO CLOSE ALERT*/
                        let timerInterval;
                        Swal.fire({
                            title: 'Loading...',
                            html: '<b></b>',
                            showConfirmButton: false,
                            timer: 10,
                            timerProgressBar: false,
                            didOpen: () => {
                                Swal.showLoading()
                                const b = Swal.getHtmlContainer().querySelector('b')
                                timerInterval = setInterval(() => {
                                    b.textContent = Swal.getTimerLeft()
                                }, 500)
                            },
                            willClose: () => {
                                clearInterval(timerInterval)
                            }
                        }).then((result) => {
                            /* Read more about handling dismissals below */
                            if (result.dismiss === Swal.DismissReason.timer) {
                                console.log(response.product_variation);

                                Swal.fire("Success",
                                    response.message,
                                    'success',
                                ).then(function() {
                                    window.location.href = "{% url 'login' %}";
                                });
                            }
                        });
                        /* AUTO CLOSE ALERT*/



                    }  else {

                        /* AUTO CLOSE ALERT*/
                        let timerInterval;
                        Swal.fire({
                            title: 'Loading...',
                            html: '<b></b>',
                            showConfirmButton: false,
                            timer: 10,
                            timerProgressBar: false,
                            didOpen: () => {
                                Swal.showLoading()
                                const b = Swal.getHtmlContainer().querySelector('b')
                                timerInterval = setInterval(() => {
                                    b.textContent = Swal.getTimerLeft()
                                }, 500)
                            },
                            willClose: () => {
                                clearInterval(timerInterval)
                            }
                        }).then((result) => {
                            /* Read more about handling dismissals below */
                            if (result.dismiss === Swal.DismissReason.timer) {
                                /*console.log('I was closed by the timer')*/

                                Swal.fire("Unauthorized",
                                    response.message,
                                    'error',
                                );
                            }
                        });
                        /* AUTO CLOSE ALERT*/

                    }

                } else {
                    Swal.fire('Erreur',
                        '',
                        'error',
                    )
                }
            },



        });

    });

{% endblock custom_script %}