{% extends "base/base.html" %}
{% load static %}



{% block title %}
        Password Reset
{% endblock title %}

{% block custom_css %}
    <style>
        .page-content {
            margin-top: 80px; /* Adjust this value to control the spacing between header and content */
            padding: 20px; /* Optional: Adjust this value to add padding around the content */
        }
    </style>
{% endblock custom_css %}


{% block content %}

    <main class="main_wrapper">
        <div class="page-content" style="margin-top: 130px;">

            <div class="container mt-5">

                <div class="row my-3">
                <div class="col-sm-6 offset-sm-3">
                
            
                    <form action="" method="post" novalidate class="shadow p-5 my-4">
                    {% csrf_token %}
                    <h3 class='mb-5'>Password Reset</h3>
                    
                
                        {% for fm in form %}
                            <div class="form-group mb-3">
                                {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                            </div>
                        {% endfor %}
                
                        <input type="submit" class="btn btn-primary my-2" value="Submit">
            
                    
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{error}}</p>
                        {% endfor %}
                        {% endif %}  
                
                    </form>
                
            
                </div>
                </div>
            </div>
        </div>

    </main> 


{% endblock content %}