{% extends "base/base.html" %}
{% load static %}



{% block title %}
Change Password
{% endblock title %}

{% block custom_css %}
<style>
    .page-content {
        margin-top: 80px;
        /* Adjust this value to control the spacing between header and content */
        padding: 20px;
        /* Optional: Adjust this value to add padding around the content */
    }

    * {
        box-sizing: border-box;
    }

    body {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        height: 100vh;
        width: 100vw;
    }

    form {
        width: 30vw;
        min-width: 500px;
        align-self: center;
        box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
            0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
        border-radius: 7px;
        padding: 40px;
    }

    input {
        border-radius: 6px;
        margin-bottom: 6px;
        padding: 12px;
        border: 1px solid rgba(50, 50, 93, 0.1);
        height: 44px;
        font-size: 16px;
        width: 100%;
        background: white;
    }

    .result-message {
        line-height: 22px;
        font-size: 16px;
    }

    .result-message a {
        color: rgb(89, 111, 214);
        font-weight: 600;
        text-decoration: none;
    }

    .hidden {
        display: none;
    }

    #card-error {
        color: rgb(105, 115, 134);
        text-align: left;
        font-size: 13px;
        line-height: 17px;
        margin-top: 12px;
    }

    #card-element {
        border-radius: 4px 4px 0 0;
        padding: 12px;
        border: 1px solid rgba(50, 50, 93, 0.1);
        height: 44px;
        width: 100%;
        background: white;
    }

    #payment-request-button {
        margin-bottom: 32px;
    }

    /* Buttons and links */
    button {
        background: #5469d4;
        color: #ffffff;
        font-family: Arial, sans-serif;
        border-radius: 0 0 4px 4px;
        border: 0;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        display: block;
        transition: all 0.2s ease;
        box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
        width: 100%;
    }

    button:hover {
        filter: contrast(115%);
    }

    button:disabled {
        opacity: 0.5;
        cursor: default;
    }

    /* spinner/processing state, errors */
    .spinner,
    .spinner:before,
    .spinner:after {
        border-radius: 50%;
    }

    .spinner {
        color: #ffffff;
        font-size: 22px;
        text-indent: -99999px;
        margin: 0px auto;
        position: relative;
        width: 20px;
        height: 20px;
        box-shadow: inset 0 0 0 2px;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
    }

    .spinner:before,
    .spinner:after {
        position: absolute;
        content: "";
    }

    .spinner:before {
        width: 10.4px;
        height: 20.4px;
        background: #5469d4;
        border-radius: 20.4px 0 0 20.4px;
        top: -0.2px;
        left: -0.2px;
        -webkit-transform-origin: 10.4px 10.2px;
        transform-origin: 10.4px 10.2px;
        -webkit-animation: loading 2s infinite ease 1.5s;
        animation: loading 2s infinite ease 1.5s;
    }

    .spinner:after {
        width: 10.4px;
        height: 10.2px;
        background: #5469d4;
        border-radius: 0 10.2px 10.2px 0;
        top: -0.1px;
        left: 10.2px;
        -webkit-transform-origin: 0px 10.2px;
        transform-origin: 0px 10.2px;
        -webkit-animation: loading 2s infinite ease;
        animation: loading 2s infinite ease;
    }

    @-webkit-keyframes loading {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes loading {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @media only screen and (max-width: 600px) {
        form {
            width: 80vw;
        }
    }

    /**
    * The CSS shown here will not be introduced in the Quickstart guide, but shows
    * how you can use CSS to style your Element's container.
    */
    .StripeElement {
        box-sizing: border-box;

        height: 40px;

        padding: 10px 12px;

        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;

        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
</style>
{% endblock custom_css %}


{% block content %}

<script src="https://js.stripe.com/v3/"></script>

<main class="main_wrapper">
    <div class="page-content" style="margin-top: 130px;">

        <div class="container mt-5">

            <div class="container mt-5">

                <div class="row my-3">
                    <div class="col-sm-6 offset-sm-3">

                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class=" text-center">COURSE CREDIT PAYMENT</h3>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class=" d-flex flex-column justify-content-around">
                                            <p class="name" class=""><strong>Course:</strong>&nbsp;<a href="{% url 'enroll' course.slug %}">{{course.name}}</a></p>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <a role="button" class="btn btn-dark btn-small btn-block"
                                            onclick="navigate_to_checkout_page()">Back to checkout</a>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class=" d-flex flex-column justify-content-around">
                                            <p class="name" class=""><strong>Category:</strong>&nbsp;{{course.category}}
                                            </p>
                                            <p class="price" class=""><strong>Sub
                                                    category:</strong>&nbsp;{{course.sub_category}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <img style="width:100%;height:125px" src="{{course.thumbnail.url}}" alt="img" />
                                    </div>
                                </div>
                                <hr>

                                <div class="container p-3 m-3">
                                    <div class="row d-flex flex-column align-items-center justify-content-center">
                                        <div class="col-lg-12 col-sm-12 text-start">

                                            <p class="price" class=""><strong>Total Price To Pay:</strong>&nbsp;<span
                                                    id="custom_p" style="font-size:35px"
                                                    class="badge badge-dark">${{total_price}}</span></p>

                                            <hr>
                                            <!-- Add form here -->
                                            <form action="{% url 'charge' %}" method="post" id="payment-form">
                                                {% csrf_token %}
                                                <div class="form-field-12">
                                                    <!-- Input to receive credit_quantity -->
                                                    <input id="user_id" required type="hidden" name="user_id" value="{{user.id}}">
                                                    <!-- Input to receive amount or total price -->
                                                    <input id="amount" required type="hidden" name="amount" value="{{total_price}}">
                                                    <!-- Input to receive course_id -->
                                                    <input id="course_id" required type="hidden" name="course_id" value="{{course.id}}">
                                                    <!-- Input to receive course_price -->
                                                    <input id="course_price" required type="hidden" name="course_price" value="{{course.price}}">
                                                    <!-- Input to receive credit_quantity -->
                                                    <input id="credit_quantity" required type="hidden" name="credit_quantity" value="{{credit_quantity}}">

                                                </div>

                                                <!-- Email to receive the receipt after payment -->
                                                <div class="form-field-6">
                                                    <label for="email"> Email </label>
                                                    <input id="email" required type="email" name="email"
                                                        placeholder="Email here" value="{{user.email}}">
                                                </div>

                                                <!-- Input for full name -->
                                                <div class="form-field-6">
                                                    <label for="name">Full Name</label>
                                                    <input id="name" required type="text" name="name"
                                                        placeholder="Enter your full name" value="{{user.name}}">
                                                </div>

                                                <!-- Input for phone -->
                                                <div class="form-field-6">
                                                    <label for="phone">Phone</label>
                                                    <input id="phone" required type="number" name="phone"
                                                        placeholder="Your phone here" value="{{user.phone}}">
                                                </div>

                                                <img style="width:100;height:50px"
                                                    src="{% static 'base/img/payment.png' %}" alt='img' />
                                                <div class="form-row">
                                                    <span for="card-element"> Credit or debit card </span>
                                                    <br />

                                                    <div id="card-element">
                                                        <!-- A Stripe Element will be inserted here. -->
                                                    </div>

                                                    <!-- Used to display form errors. -->
                                                    <div id="card-errors" role="alert"></div>
                                                </div>

                                                <div style="clear:left"></div>
                                                <hr>
                                                

                                                <input class="myButton" style="background-color:#0c78dd;color:#ffffff"
                                                    type="submit" value="Submit Payment" name="">

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


{% endblock content %}

{% block custom_script %}

// Create a Stripe client.
// Stripe Public Key
var stripe =
Stripe('pk_test_51NULqjGLxE9fbQmWNF5IOHOADqKmWPPekEq21lVFDIihhUURZyF5cffKQKLTez8l5f3AX1di0LkaUVzqZZc8s9Yz00QgTS7TUb');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
base: {
color: '#32325d',
fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
fontSmoothing: 'antialiased',
fontSize: '16px',
'::placeholder': {
color: '#aab7c4'
}
},
invalid: {
color: '#fa755a',
iconColor: '#fa755a'
}
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
    displayError.textContent = event.error.message;
    } else {
    displayError.textContent = '';
    }
    });

    // Handle form submission.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
    if (result.error) {
    // Inform the user if there was an error.
    var errorElement = document.getElementById('card-errors');
    errorElement.textContent = result.error.message;
    } else {
    // Send the token to your server.
    stripeTokenHandler(result.token);
    }
    });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
    }

    function navigate_to_checkout_page() {
    document.location = `/payments/checkout/{{course.id}}/`;
    }
    {% endblock custom_script %}