{% extends "base/base.html" %}
{% load static %}

{% block title %}
        Signup
{% endblock title %}

{% block custom_css %}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 2px;
  background: #eee;
  }
  .h-custom {
  height: calc(110%);
  }
  
  @media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
  }
{% endblock custom_css %}


{% block content %}
<main class="main_wrapper">



  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Sign up with</p>

                <a href="{% url 'social:begin' 'google-oauth2' %}" type="button" class="btn btn-primary btn-floating mx-1">Google
                  <i class="fab fa-google"></i>
                </a>

                <a href="{% url 'social:begin' 'twitter' %}" type="button" class="btn btn-primary btn-floating mx-1">Twitter
                  <i class="fab fa-twitter"></i>
                </a>

            </div>
  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">OR</p>
            </div>
  

            <form class="form" id="register" method="POST">
              {% csrf_token %}

              
                {% for field in form %}
                  <div class="form-outline mb-4">
                      <label class="form-label " for="form3Example3">{{field.label}}</label>
                      {{field}}
                  </div>
                {% endfor %}

                <!--{% if messages %}
                    <ul class="messages text-danger">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}-->

                <div class="text-center text-lg-start mt-4 pt-2">

                  <button type="submit" class="btn btn-primary btn"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>

                  <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="{% url 'login' %}"
                      class="link-danger">Login</a></p>
                </div>
  
            </form>
  
          
        </div>
      </div>
    </div>
   
  </section>
    



</main>

{% endblock content %}

{% block custom_script%}

  $(document).on('submit', '#register', function (e) {

      e.preventDefault();

      $.ajax({
          type: 'POST',
          url: "{% url 'register_request' %}",
          data: {
              username: $('#username').val(),
              email: $('#email').val(),
              password1: $('#password1').val(),
              password2: $('#password2').val(),
              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          },


          success: function (response, textStatus, data) {

              if (textStatus == 'success') {

                  if (response.code == 200) {

                      /* AUTO CLOSE ALERT*/
                      let timerInterval;
                      Swal.fire({
                          title: 'Loading...',
                          html: '<b></b>',
                          showConfirmButton: false,
                          timer: 10,
                          timerProgressBar: false,
                          didOpen: () => {
                              Swal.showLoading()
                              const b = Swal.getHtmlContainer().querySelector('b')
                              timerInterval = setInterval(() => {
                                  b.textContent = Swal.getTimerLeft()
                              }, 500)
                          },
                          willClose: () => {
                              clearInterval(timerInterval)
                          }
                      }).then((result) => {
                          /* Read more about handling dismissals below */
                          if (result.dismiss === Swal.DismissReason.timer) {
                              /*console.log('I was closed by the timer')*/

                              Swal.fire('Success',
                                  response.message,
                                  'success',
                              ).then(function () {
                                  window.location = "{% url 'home' %}";
                              });
                          }
                      });
                      /* AUTO CLOSE ALERT*/


                  } else {

                      /* AUTO CLOSE ALERT*/
                      let timerInterval;
                      Swal.fire({
                          title: 'Loading...',
                          html: '<b></b>',
                          showConfirmButton: false,
                          timer: 10,
                          timerProgressBar: false,
                          didOpen: () => {
                              Swal.showLoading()
                              const b = Swal.getHtmlContainer().querySelector('b')
                              timerInterval = setInterval(() => {
                                  b.textContent = Swal.getTimerLeft()
                              }, 500)
                          },
                          willClose: () => {
                              clearInterval(timerInterval)
                          }
                      }).then((result) => {
                          /* Read more about handling dismissals below */
                          if (result.dismiss === Swal.DismissReason.timer) {
                              /*console.log('I was closed by the timer')*/

                              Swal.fire('Unauthorized',
                                  response.message,
                                  'error',
                              );
                          }
                      });
                      /* AUTO CLOSE ALERT*/


                  }

              } else {
                  Swal.fire('Erreur',
                      '',
                      'error',
                  )
              }
          },

      });
  });

{%endblock%}